$darkBlue: #002174;
$black: #131313;

.navbar {
  background-color: $darkBlue;
  .navbar-brand {
    color: white;
    font-size: 26px;
    font-weight: 500;
  }
  .navbar-nav {
    .nav-link {
      color: white;
      font-size: 20px;
    }
  }
}

.jumbotron {
  .container {
    margin-top: 5.5rem;
    p {
      font-size: 20px;
    }
    .social-media {
      width: 70%;
      margin: auto;
      a {
        font-size: 24px;
      }
      @media (min-width: 640px) {
        width: 60%;
      }
      @media (min-width: 990px) {
        width: 45%;
      }
    }
  }
}

#skill {
  padding-top: 7.5rem;
  h2 {
    font-size: 26px;
    text-align: center;
  }
  .tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    h5 {
      background-color: #002174;
      color: white;
      padding: 20px;
      font-size: 24px;
    }
  }
}

#project {
  padding-top: 5.5rem;
  h2 {
    font-size: 26px;
  }
  .card {
    width: 325px;
    .card-body {
      .btn {
        background-color: $darkBlue;
        color: white;
      }
    }
  }
}
