$darkBlue: #002174;
$black: 131313;
.navbar {
  background-color: $darkBlue;
  .navbar-brand {
    color: white;
    font-size: 26px;
    font-weight: 500;
  }
  .navbar-nav {
    .nav-link {
      color: white;
      font-size: 20px;
    }
    .nav-link.disabled {
      color: rgb(227, 227, 227);
    }
  }
}

.jumbotron {
  .container {
    margin-top: 5.5rem;
    p {
      font-size: 20px;
    }
    .social-media {
      width: 70%;
      margin: auto;
      a {
        font-size: 24px;
      }
      @media (min-width: 640px) {
        width: 60%;
      }
      @media (min-width: 990px) {
        width: 45%;
      }
    }
  }
}

#project {
  padding-top: 5.5rem;
  h2 {
    font-size: 26px;
  }
  .card {
    width: 325px;
    .card-body {
      .btn {
        background-color: $darkBlue;
        color: white;
      }
    }
  }
}

#contact {
  padding-top: 5.5rem;
  margin-bottom: 5.5rem;
  h2 {
    font-size: 26px;
  }
  form {
    textarea {
      height: 100px;
    }
    button {
      background-color: $darkBlue;
      color: white;
      font-size: 1.2rem;
    }
  }
}
